stocktake/Service References/SoapUnitTOM/SoapUnit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.hcc656.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.hcc656.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hcc656.com/Imports">
      <xsd:import schemaLocation="http://172.28.18.97:8888/SoapUnit?xsd=xsd1" namespace="http://www.hcc656.com" />
      <xsd:import schemaLocation="http://172.28.18.97:8888/SoapUnit?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.28.18.97:8888/SoapUnit?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://172.28.18.97:8888/SoapUnit?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://172.28.18.97:8888/SoapUnit?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SoapUnit_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="SoapUnit_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="SoapUnit_GetDataMulti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataMulti" />
  </wsdl:message>
  <wsdl:message name="SoapUnit_GetDataMulti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataMultiResponse" />
  </wsdl:message>
  <wsdl:message name="SoapUnit_UpdateData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="SoapUnit_UpdateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SoapUnit">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://www.hcc656.com/SoapUnit/GetData" message="tns:SoapUnit_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hcc656.com/SoapUnit/GetDataResponse" message="tns:SoapUnit_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataMulti">
      <wsdl:input wsaw:Action="http://www.hcc656.com/SoapUnit/GetDataMulti" message="tns:SoapUnit_GetDataMulti_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hcc656.com/SoapUnit/GetDataMultiResponse" message="tns:SoapUnit_GetDataMulti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input wsaw:Action="http://www.hcc656.com/SoapUnit/UpdateData" message="tns:SoapUnit_UpdateData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hcc656.com/SoapUnit/UpdateDataResponse" message="tns:SoapUnit_UpdateData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>